<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Utah Crash Stats</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <link href="bootstrap-select/css/bootstrap-select.css" rel="stylesheet">
    <link href="css/site.css" rel="stylesheet">

</head>

<body id="page-top" onload="updateFilters()">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-page="Index">
                <div class="sidebar-brand-icon">
                    <i class="fas fa-car"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Utah Crash Stats</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Analysis
            </div>

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" asp-page="Dashboard">
                    <i class="fas fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <!-- Nav Item - Crashes -->
            <li class="nav-item">
                <a class="nav-link" asp-page="Crashes">
                    <i class="fas fa-car-crash"></i>
                    <span>Crashes</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Support
            </div>

            <!-- Nav Item - Crash Stories -->
            <li class="nav-item">
                <a class="nav-link" asp-page="StoryHome">
                    <i class="fas fa-book"></i>
                    <span>Crash Stories</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Info
            </div>

            <!-- Nav Item - About Us -->
            <li class="nav-item">
                <a class="nav-link" asp-page="About">
                    <i class="fas fa-child"></i>
                    <span>About Us</span>
                </a>
            </li>

            <!-- Nav Item - Privacy Policy -->
            <li class="nav-item">
                <a class="nav-link" asp-page="Privacy">
                    <i class="fas fa-lock"></i>
                    <span>Privacy Policy</span>
                </a>
            </li>

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <form class="form-inline" style="width:100%" role="search">
                        <div class="form-group">
                            <input type="text" name="search" id="search" class="form-control bg-light border-0 small" placeholder="Search Crashes"
                                   aria-label="Search" aria-describedby="basic-addon2" onkeypress="UpdateClear()" onchange="updateClear()" value=@ViewBag.SearchTerm>
                        </div>
                        <div class="form-group mx-3">
                            <select multiple class="selectpicker" onchange="updateFilters()" name="filters" id="filters" title="Select Filters" data-actions-box="true">
                                <optgroup label="Severity">
                                    @{ var count = 0; }
                                    @foreach (var filter in ViewBag.FiltersNamesDict)
                                    {
                                        @if (count < 5)
                                        {
                                            @if (ViewBag.FiltersDict[filter.Key] == 1)
                                            {
                                                <option selected value=@filter.Key>@filter.Value</option>
                                            }
                                            else
                                            {
                                                <option value=@filter.Key>@filter.Value</option>
                                            }
                                        }
                                        count += 1;
                                    }
                                </optgroup>
                                <optgroup label="Details">
                                    @{ count = 0; }
                                    @foreach (var filter in ViewBag.FiltersNamesDict)
                                    {
                                        @if (count >= 5)
                                        {
                                            @if (ViewBag.FiltersDict[filter.Key] == 1)
                                            {
                                                <option selected value=@filter.Key>@filter.Value</option>
                                            }
                                            else
                                            {
                                                <option value=@filter.Key>@filter.Value</option>
                                            }
                                        }
                                        count++;
                                    }
                                </optgroup>
                            </select>
                        </div>
                        <input type="hidden" value="@ViewBag.FilterInput" name="filterInput" id="filterInput" />

                        <div class="form-group mr-3">
                            <button class="btn btn-primary" type="submit" id="submit" onclick="updateFilters()" asp-page="Crashes">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                            <button hidden id="submitClear" asp-page="Crashes"></button>
                        </div>
                        <input type="hidden" value="@ViewBag.IsCrashesPage" id="isCrashesPage" />
                        <div class="form-group" hidden id="clear">
                            <button class="btn btn-secondary-outline" type="button" onclick="clearFilters()">
                                Clear
                            </button>
                        </div>
                    </form>

                    <script>
                        $('#filters').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
                            updateFilters();
                        });

                        function updateClear() {
                            if ($('#search').val() != "" || ($('#filterInput').val() != "" && $('#filterInput').val() != 'name="filterInput"')) {
                                $('#clear').attr('hidden', false)
                            }
                            else {
                                $('#clear').attr('hidden', true)
                            }
                        }
                        function updateFilters() {
                            $('#filterInput').val($('#filters').val());
                            updateClear();
                        }
                        function clearFilters() {
                            $('#filterInput').val("");
                            $('#search').val("");
                            $('#filters').selectpicker('deselectAll');
                            updateClear();
                            if ($('#isCrashesPage').val() == "true") {
                                $('#submit').click();
                            }
                        }</script>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <partial name="_LoginPartial" />

                    </ul>
                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <partial name="_CookieConsentPartial" />

                    @RenderBody()

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Utah Crash Stats 2022</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>
    <script src="bootstrap-select/js/bootstrap-select.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>
    <script src="vendor/chart.js/CrashCharts.js"></script>
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/charts/crashes-over-time.js"></script>
    <script src="js/charts/driver-type.js"></script>
    <script src="js/charts/crashes-by-weekday.js"></script>
    <script src="js/charts/severity.js"></script>
    <script src="js/datatables/all-crashes.js"></script>
    <script src="js/charts/print-page.js"></script>

    @RenderSection("Scripts", required: false)

</body>

</html>
